body {
  margin: 0;
  padding: 0;
}

.header {
  height: 130px;
  background-image: url(../images/nen-hoa-co.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

.header h1 {
  position: absolute;
  top: 20%;
  left: 40%;
  text-shadow: 2px 2px 1px purple;
  color: white;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.side-bar {
  width: 20%;
  background-image: url("../images/nen-menu.png"),
    url("../images/nen-hoa-muc-luc.png"),
    linear-gradient(rgb(127, 242, 127), rgb(187, 239, 97));
  display: flex;
  flex-direction: column;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
  text-align: center;
  justify-content: center;
  row-gap: 15px;
}

.side-bar a {
  color: white;
  text-shadow: 1px 1px 0 grey;
  width: 100%;
}

.side-bar a:hover {
  color: #ecf400;
}

.main {
  width: 77%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
