* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  color: blue;
  width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 15px blue, 0 0 5px darkblue;
}

table {
  margin: auto;
  width: 90%;
}

table {
  background: url(../images/khuyen-mai.png) no-repeat bottom center;
  box-shadow: 5px 5px 5px blue;
  background-color: paleturquoise;
  border-radius: 10px;
  font-weight: bold;
}

td {
  padding: 10px;
}

input,
textarea,
select {
  border: 2px dotted blue;
  border-radius: 10px;
  background-color: rgba(61, 61, 244, 0.349);
}

button {
  padding: 5px 30px;
  display: block;
  margin: auto;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(blue, rgb(14, 181, 189));
  border-radius: 10px;
}

td:nth-child(odd) {
  text-align: right;
}
